.cartitemsmain {
  width: 98vw;
  max-width: 100vw;
  height: fit-content;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 10px;
  box-sizing: border-box;
}
.cartitems {
  width: 90vw;
  height: 18vw;
  min-height: 250px;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  background: linear-gradient(350deg, #ffdab9, #ffffff 50%);
}
.cartitemsdata {
  width: 80%;
  height: 80%;
  /* background-color: red; */
  display: flex;
  gap: 12px;
}
.cartitemsimage {
  width: 20%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  /* background-color: red; */
}
.cartitemsimage img {
  width: 66%;
  /* height: 100%; */
  border-radius: 10px;
  /* min-width: 160px; */
  cursor: pointer;
}
.cartitemsdescription {
  width: 80%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.cartitemsdescriptionpart1 {
  width: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 5px;
}
.price {
  width: 20%;
}
.cartitemsoperations {
  width: 90%;
  height: 20%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-controls {
  display: flex;
  border: 1px solid rgb(255, 96, 5);
  /* box-shadow: 0px 2px 5px 4px rgba(227, 137, 12, 0.575); */
  width: 6vw;
  height: 2vw;
  min-width: 70px;
  min-height: 22px;
  border-radius: 1vw;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  font-size: clamp(15px, 1.5vw, 100px);
  background: linear-gradient(164deg, #ffdab9, #ffffff 80%);
}
.qty-btn {
  background: none;
  border: none;
  font-size: clamp(15px, 2vw, 100px);
  cursor: pointer;
}
.delete-btn {
  border: 2px solid rgb(255, 96, 5);
  width: 6.4vw;
  height: 2.3vw;
  min-width: 70px;
  min-height: 22px;
  border-radius: 1vw;
  background: none;
  background-color: rgb(242, 81, 81);
  cursor: pointer;
}
.cartitemsdescription h3 {
  font-size: clamp(15px, 1.1vw, 100px);
  /* background-color: green; */
}
.cartitemsdescription h2 {
  font-size: clamp(17px, 1.5vw, 100px);
}
.cartitemsdescription p {
  font-size: clamp(14px, 1.1vw, 100px);
}
@media only screen and (max-width: 850px) {
  .cartitems {
    width: 95vw;
    /* border: 2px solid red; */
  }
  .cartitemsdata {
    width: 98%;
    height: 90%;
  }

  .cartitemsdescription h2 {
    font-size: clamp(12px, 3vw, 100px);
  }
  .cartitemsdescription h3 {
    font-size: clamp(10px, 2vw, 100px);
    /* background-color: green; */
  }
  .cartitemsdescription p {
    font-size: clamp(10px, 1.8vw, 100px);
  }
  .cartitemsimage {
    width: 25%;
    min-width: 130px;
  }
  .cartitemsimage img {
    width: 50%;
    min-width: 130px;
  }
}
